
@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin font-select($font-family, $font-size, $line-height, $font-color) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color: $font-color;
}
