


// Colors
$primary-text-color: #444444;
$secondary-text-color: #000000;
$basic-green: #68b738;
$basic-green-2 : #5eaa2f;


// Fonts
$primary-font: "Oswald","arial", sans-serif;
$secondary-font: "Lato", "arial", sans-serif;


$tablet-width: 768px;
$desktop-width: 1440px;
